.home {
    width: 100%;
}

.header {
    width: 100%;
    height: 40dvh;
    background-image: url("https://images.pexels.com/photos/15233788/pexels-photo-15233788/free-photo-of-plage-eau-cote-rive.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-size: cover;
}

.header div {
    width: 100%;
    height: 40dvh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.41);
}

.header h1 {
    background-image: url("https://images.pexels.com/photos/540925/pexels-photo-540925.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: repeat;
     -webkit-background-clip: text;
    background-clip: none;
    -webkit-text-fill-color: transparent;
    font-size: calc(4rem + 1vmin);
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    filter:brightness(120%);
    padding-inline: 20px;
    z-index: 5;
}

.text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}

.text p {
    width: 70%;
    font-size: calc(1rem + 1vmin);
    color: var(--third-color);
}

.separator {
    width: 50%;
    height: 3px;
    background-color: var(--third-color);
    border-radius: 5rem;
    margin: 5rem auto;
}